body{
    background: #0f0c29;
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
    color: rgb(247, 248, 250);
}

/* page structure */
.page-width{
    max-width: 960px;
    margin: auto;
}

/* header */
#header{
    font-weight: 600;
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}
.nav-link{
    color: white;
    font-weight: bold;
}
.nav-item:hover{
    background-color: rgb(33, 108, 152);
    border-radius: 5px;
    color: white;
    scale: 1.0125;
}
.navbar-toggler{
    background-color: rgb(36, 191, 196);
}

/* banner */
.profile{
    display: flex;
    justify-content: center;
}
.profile-img{
    max-width: 275px;
    max-height: 325px;
}

/* skills */
.skills-icons{
    width: 60px;
    height: 60px;
    padding: 8px;
    border-radius: 50%;
    background-color: #021923;
}
.skills-img, .contact-img{
    max-width: 400px;
    max-height: 400px;
}

/* project card */
.card {
    max-width: 300px;
    max-height: 380px;
}
.card img{
    max-height: 200px;
    min-height: 200px;
}
.card-img-container{
    max-height: 250px;
}
.card:hover{
    scale: 1.075;
    border: 1px solid;
}